@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: system-ui;
}

body{
	height:auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url(../images/cards_background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 8%;
	width: -webkit-fill-available;
	background-attachment: fixed;
	font-family: system-ui;
	color: white;
}
 
h1{
	display: flex;
	justify-content: center;
	justify-self: center;
	padding-top: 5px;
    padding-bottom: 30px;
    font-size: 250%;
    color: white;
}


.navVar{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #434598, #3b3b80);
	margin: auto;
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: -webkit-fill-available;
	left: 0; 
  position:fixed;
	top: 0; 
}

.navVar img{
	max-width: 70px;
    margin: 0 0px 0 0px;
    cursor: pointer;
}

.navVar ul {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navVar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.navVar ul li a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 1.0rem;
}

.navVar ul li::before{
	content: "";
	height: 2px;
	width: 0%;
	background: white;
	position: absolute;
	bottom: -12px;
	transition: 0.3s ease-out;
}

.navVar ul li:hover::before{
	width: 100%
}



main{
    height:auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 80px;
	width: -webkit-fill-available;
	background-attachment: fixed;
	font-family: system-ui;
	color: white;
}
